
//  C O L O R S


$color-blue-light:      #C1D7E1;
$color-blue:            #0099cc;
$color-blue-dark:       #006699;
$color-blue-darker:     #0B284B;              

$color-white:           #fff;
$color-black:           #000;

$color-grey-lighter:    #f7f7f7;
$color-grey-light:      #eee;
$color-grey-dark:       #777;
$color-grey-darker:     #5f676e;
$color-grey-darkest:    #999;
$color-grey-blue:       #36454f;

//  T Y P O G R A P H Y

$txt-size-df:            1.6rem;
$txt-h1-main:            6rem;
$txt-h1-sub:             2rem;
$txt-h2-main:            3.5rem;
$txt-h3-main:            $txt-size-df;


//  G U T T E R S

$gutter-right:           6rem;
$gutter-bottom:          8rem;
$gutter-bottom-sml:      6rem;
$grid-width:             114rem;
