.footer {
    background-color: $color-blue-darker;
    padding: 5rem 10rem 10rem 10rem;
    font-size: 1.4rem;

    @include respond(tab-port) {
        margin: 0 auto;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            display: block;
            width: none;
            float: none;
            text-align: center;
        }

    }

    &__list {
        list-style: none;
    }

    &__item {
        
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light;
            background-color: $color-blue-darker;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

    &:hover,
    &:active {
        color: $color-blue;
        padding-top: 2rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        transform: rotate(5deg) scale(1.3);
    }
    }

    &__link {
        
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        width: 96%;
        float: right;

        @include respond(tab-port) {
            border-top: none;
            display: block;
            width: none;
            float: none;
            text-align: center;
            padding-top: none;
            letter-spacing: .5px;
        }
    }
}