
.row {
    max-width: 114rem;
    // background-color: lightgrey;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-bottom;

        @include respond(tab-port) {
            margin-bottom: $gutter-bottom-sml;
        }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        margin: 0 auto;
    
    }

    @include clearfix;

    [class^="col-"] {
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-right;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-bottom-sml;
            }

        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        // background-color: red;
        width: calc((100% - #{$gutter-right}) / 2);
    }

    .col-1-of-3 {
        // background-color: orange;
        width: calc((100% - 2 * #{$gutter-right}) / 3);
    }

    .col-2-of-3 {
        // background-color: yellow;
        width: calc(2 * ((100% - 2 * #{$gutter-right}) / 3) + #{$gutter-right});
    }

    .col-1-of-4 {
        // background-color: green;
        width: calc((100% - 3 * #{$gutter-right}) / 4);
    }

    .col-2-of-4 {
        // background-color: blue;
        width: calc(2 * ((100% - 3 * #{$gutter-right}) / 4) + #{$gutter-right});
    }

    .col-3-of-4 {
        // background-color: violet;
        width: calc(3 * ((100% - 3 * #{$gutter-right}) / 4) +  2 * #{$gutter-right});
    }
}