.home-hero {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(#000000, .95), rgba(#C1D7E1, 1)), url(../../images/hero-1200.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    z-index: 10;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
                                        // is the width larger than 600px?
    @media (min-resolution: 192dpi) and (min-width:37.5em),
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           (min-width: 125em) {
            background-image: linear-gradient(to right bottom, rgba(#000000, .95), 
                            rgba(#C1D7E1, 1)), 
                            url(../../images/hero-1200.jpg);
            }

    // is the width larger than 2000px?
    @media (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba(#000000, .95), rgba(#C1D7E1, 1)), url(../../images/hero-2000.jpg);
    }


    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-wrap {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
    &__logo-wrap .logo-white {
        height: 7rem;
        opacity: .85;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title__h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__action-row {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -15;
    }
}

.hero__logo {
    position: relative;
    display: block;
}

.logo-text {
    display: none;
}